@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@300;400;600;700&family=Jost:wght@200;400;500;600;700;800;900&family=Lato:wght@300;400;700;900&family=Nunito:wght@400;600;900&family=Poppins:wght@100;200;300;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #374948;
}

th, h1, h2, h3, h4, h5, h6, p, a {
    color: #374948;
}

a{cursor: pointer;}

.unclickable{  pointer-events: none; }
.not-allowed{cursor:not-allowed}

input[type=checkbox] {
    cursor: pointer;
    width: 16px;
    height: 16px;
    box-shadow: none !important;
    outline: none;
    border: 1px solid #d3d3d3;
}

.form-check-input:checked, .form-check-input:focus {
    box-shadow: none;
    background-color: none;
    border: 1px solid #d3d3d3;
}

/* utitlies */

.fill-sb1{ fill:#0084ff !important;}
.cursor-pointer{ cursor: pointer;}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fit-content {
    width: fit-content;
}

.fw20px {
    width: 20px;
}

.fw30px {
    width: 30px;
}

.fw50px {
    width: 50px;
}

.fw100px {
    width: 100px;
}

.fw150px {
    width: 150px;
}

.fw200px {
    width: 200px;
}

.wh20px {
    width: 20px !important;
    height: 20px !important;
}

.mw20px {
    min-width: 20px;
}

.mw50px {
    min-width: 50px;
}

.mw100px {
    min-width: 100px;
}

.mw150px {
    min-width: 150px;
}

.mw200px {
    min-width: 200px;
}

.mw250px {
    min-width: 250px;
}

.mw300px {
    min-width: 300px;
}

.bg-sb1 {
    background-color: #0084ff !important;
}

.bg-sb2 {
    background-color: #e5f2ff !important;
}
.bg-success-1 {
    background-color: #e5fae5 !important;
}

.text-success-1{
    color:#00ca00;
}

.text-sb1 {
    color: #0084ff !important;
}

.text-b1 {
    color: #374948 !important;
}




/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.116) rgb(255, 255, 255);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 3px;
}

*::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.116);
    border-radius: 20px;
}


a {
    text-decoration: none;
}

svg {
    cursor: pointer;
    user-select: none;
}

/* Admin Sidebar */

.admin-page {
    display: flex;
    height: 100vh;
    position: relative;
}

.admin-sidebar {
    width: 230px;
    height: 100vh;
    flex: 0 0 230px;
    user-select: none;
    border-right: 1px solid #dfdfdf;
    background-color: #FFFFFF;
    overflow-y: auto;
    height: 100vh;
    transition: all .3s;
    z-index: 100;
}

.admin-sidebar-hidden {
    width: 0px;
    height: 100vh;
    flex: 0 0 0px;
    transition: all .3s;
}

.admin-sibar__logo {
    background-color: rgb(255, 255, 255);
    position: sticky;
    position: -webkit-sticky;
    top: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    border-bottom: 1px solid #dfdfdf;
    z-index: 100;
}

.admin-sibar__logo_icon svg {
    width: 30px;
    height: 30px;
    fill: #0084ff;
}

.admin-sibar__logo .logo-text {
    color: #313435;
    font-size: 1rem;
    font-weight: 600;
}


.admin-sidebar__links {
    padding-top: 1rem;
}

.admin-sidebar__link_item {
    cursor: pointer;
    position: relative;
}

.sidebar__link {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: .6rem 1rem;
    font-size: 1rem ;
    color: #72777a;
    transition: all .2s;
    font-weight: 400;

}
.sidebar__link i{
    font-weight: 500;
    font-size: 1.4rem;

}


.sidebar__link.active, .sidebar__link:hover {
    color: #0084ff;
    background-color: #E5F2FF;
}


.sidebar__sublink {
    text-transform: capitalize;
    display: block;
    padding: .4rem 1rem;
    font-size: 1rem;
    color: #72777a;
    transition: all .2s;
    font-weight: 400;
}

.sidebar__sublink.active, .sidebar__sublink:hover {
    color: #0084ff;
}



.sidebar__link_sublinks {
    max-height: 0;
    transition: max-height 0.1s ease-out;
    overflow: hidden;
}

.sidebar__link_sublinks.show_sublinks {
    max-height: 1000px;
    transition: max-height 0.5s ease-in;
}


/* ADMIN MAIN AREA */
.admin-main {
    width: auto;
    flex: 1 1 auto;
    height: 100vh;
    overflow-y: scroll;
}

.admin-header {
    display: flex;
    align-items: center;
    padding: 5px 16px;
    min-height: 58px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #dfdfdf;
    position: sticky;
    top: 0%;
}

.header-menu-icon i {

    font-size: 2rem;
    color: #0084ff;
    user-select: none;
    cursor: pointer;

}


.hide-small-device-sidebar i{
    display: none;
    font-size: 2rem;
    margin-left: 30px;
    cursor: pointer;
    color: #0084ff;

}

/* ADMIN CONTENT */

.admin-content {
    padding: 20px 30px;
}



@media screen and (max-width: 800px) {
    .admin-sidebar {
        position: absolute;
        width: 230px;
        left: -100%;
    }

    .admin-sidebar-hidden {
        position: absolute;
        width: 230px;
        left: 0%;
    }

    .hide-small-device-sidebar i {
        display: block;
    }
}

/* Delete Confirmbox Css */
#delete-confirmbox-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.253);
    z-index: 200;
}

#delete-confirmbox {
    width: 95vw;
    max-width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

/* Pagination */
.pagination{ user-select: none;}

/* Css Pre Loader */

.loader1-w{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0%;
    left:0%;
    /* background-color: #bac9d870; */
    z-index: 1000;
}
.loader1 {
    width: 100px;
    height: 100px;
    border: 15px solid #0084ff96;
    border-bottom-color: transparent;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotation 1.4s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 
